.circle{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    margin: 15% 36%;
    z-index: -100;
    position: fixed;
    background-color: #ffb6b9;
    animation-name: circle_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes circle_anim{
    from {
        transform: scale(5)
    }
    to {
        transform: scale(0)
    }
}

@keyframes color_change{
    from {
        color: #bbded6
    }
    to {
        color: #8ac6d1
    }
}

header {
    font-family: 'Montserrat', sans-serif;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
}

h1 {
    margin: 0 auto;
    animation: color_change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 5rem;
}

main {
    height: 7500px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #8ac6d1;
}

nav {
    font-family: 'Allura', sans-serif;
    color: #8ac6d1;
    font-size: 40px;
    position: fixed;
    font-weight: 700;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
}

li h1{
    padding-top: 50px;
    margin: 20px 10px;
}

a {
    text-decoration: none;
    color: #8ac6d1;
}

a:hover{
    color: #bbded6;
}

.content {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 50%;
    
}



h2 {
    margin: 20px 10px;
    font-size: 20px;
}

.top-bar{
    position: fixed;
    top: 10%;
    right: 10%;
    font-family: 'Montserrat', sans-serif;
    z-index: 5;
}

.description{
    font-family: 'Crimson Text', serif;
    padding-right: 50px;
}

.description p{
    margin: 10px 10px 20px 0;
    font-size: 18px;
}

.top-bar li{
    display: inline-block;
}

.side_shit{
    font-family: 'Allura', sans-serif;
    color: #8ac6d1;
    font-size: 30px;
    position: fixed;
    bottom: 20px;  
    font-weight: 700;
}

.side_shit h2 {
    color: #222;
    margin: 0;
}

.content h2 {
    color: #8ac6d1;
    font-size: 3rem;
}


.content .pictures {
    left: 10%;
}



.artist_name{
    margin: 10px;
    margin-bottom: 20px;
}

.featured-works{
    margin-top: 100px;
}

.featured-works h3{
   color: #8ac6d1;
}

footer{
    text-align: center;
    font-size: 50px;
}

.smaller-text{
    font-size: 16px;
}

.title {
    font-family: 'Allura';
}

.bottom-title{
    font-family: 'Tangerine';
    font-size: 1.75rem !important;
}

@media screen and (max-width: 700px){
    .content{
        position: static;
        margin: 0;
        padding: 0;
    }

    .top-bar{
        position: static;
    }

    nav{
        position: static;
    }

    h2{
        font-size: 20px;
    }

    nav{
        font-size: 1.5rem;
    }

    header{
        top: 40%;
        left: 10%;
    }

    header h1{
        font-size: 2.5rem;
    }

    .content h2{
        font-size: 1.8rem;
    }

    .content p{
        font-size: 15px;
    }

    .email{
        font-size: 15px;
    }

    .smaller-text{
        font-size: 12px;
    }

    


}